nav.steps {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(~"100% - 20px");
  z-index: 999;
  .display-flex();

  button {
    background: @df-middle-gray;
    .flex(1);
    height: 10px;
    margin: 1px;
    border-radius: 2px;
    border: none;
    position: relative;

    &.current {
      background: lighten(@df-middle-gray, 20%);
    }

    &:hover, &:focus {
      background: lighten(@df-middle-gray, 10%);
    }

    &.current .highlight {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      background: white;
      height: 100%;
      transition: all .1s linear;
      border-radius: inherit;
    }

    label {
      position: absolute;
      top: 100%;
      color: @df-dark-gray;
      left: 0;
      font-weight: bold;
      @outline: white;
      @blur: 0px;
      font-size: 14px;
      width: 200%;
      text-align: left;
      text-shadow: 
        1px 0px @blur @outline,
        1px 1px @blur @outline,
        -1px 0px @blur @outline,
        -1px -1px @blur @outline,
        0px -1px @blur @outline,
        1px 1px @blur @outline,
        0px 1px @blur @outline,
        -1px 1px @blur @outline;

      @media @mobile {
        display: none;
      }
    }
  }
}