<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <nav class="steps"></nav>

    <main class="app">
      <video class="centered buffer" playsinline preload="auto" controls><track kind="metadata" default></track></video>
      <video class="centered buffer" playsinline preload="auto" controls><track kind="metadata" default></track></video>
      <section class="intro">
        <div class="text">
          <h1>Paddling for gold</h1>
          <div class="credits">By Lauren Frohne, Emily M. Eng and Thomas Wilburn</div>
          <p>
            Click to play the video, or choose a section from the navigation bar at the top.
        </div>
      </section>
      <section class="outro hidden">OUTRO</section>
      <div class="centered spinner">∴</div>
      <button class="centered play-pause">
        <div role="img" alt="play">
          <%= t.include("./assets/icons/baseline-play_circle_outline-24px.svg") %>
        </div>
      </button>
      <div class="text-overlays">
        <div class="content"></div>
        <div class="closed-captions"></div>
      </div>
      <div class="controls">
        <input type="checkbox" checked="true" id="enable-captions">
        <label for="enable-captions">
          <div role="img" alt="toggle closed captions">
            <%= t.include("./assets/icons/baseline-closed_caption-24px.svg") %>
          </div>
        </label>
      </div>
    </main>

    <script>
window.videoData = <%= JSON.stringify(json.videos) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
